.advice-quote {
	text-align: center;

	font-size: 2rem;
	color: var(--brown);

	padding: 1rem;
}

.advice-container {
	background-color: var(--transparent-gray);
	margin-top: 10rem;
	/* margin-right: 10rem;
	margin-left: 10rem;
	border-radius: 1rem; */
}

@media (max-width: 600px) {
	.advice-container {
		margin-top: 5rem;
		margin-bottom: 1rem;
	}
}
