.goodmorning {
	display: grid;
	grid-template-rows: repeat(2 1fr);
	grid-template-columns: repeat(2 1fr);
	font-size: 7.5rem;
	color: var(--orange);

	justify-content: center;
	padding-top: 15rem;
}

.goo {
	grid-row: 1 / span 1;
	grid-column: 1 / span 1;
	text-align: right;

	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: -20px;
}

.d {
	grid-row: 1 / span 1;
	grid-column: 2 / span 1;
	margin-top: 0px;
	margin-left: 1px;
	margin-right: 0px;
	margin-bottom: -20px;
}

.morning {
	grid-row: 2 / span 1;
	grid-column: 2 / span 1;

	margin-top: -40px;
	margin-left: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
}

/* I used the CSS mockup from week one as a reference on styling the background image */
.gm-container {
	height: 100vh;
	background-image: url('../images/good-morning.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: bottom 0px right 0px;
}
