header {
	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-template-columns: repeat(3 1fr);
}

.title {
	text-align: center;
	justify-content: center;
	color: var(--brown);
	font-size: 4rem;
	font-weight: 400;
	padding-bottom: 0;
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	background-color: var(--transparent-gray);
	border-radius: 7px;
}

nav {
	grid-row: 2 / span 1;
	grid-column: 1 / span 3;
	background-color: var(--transparent-gray);
}

nav ul {
	display: grid;
	grid-template-columns: repeat(3 1fr);
	grid-template-rows: 1fr;
	list-style: none;
	margin: 0px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 0rem;
}

.gratitude {
	grid-row: 1 / span 1;
	grid-column: 1 / span 1;
}
.good-morning {
	grid-row: 1 / span 1;
	grid-column: 2 / span 1;
}

.advice {
	grid-row: 1 / span 1;
	grid-column: 3 / span 1;
}

nav li {
	text-align: center;
	justify-content: center;
}

a {
	color: var(--brown);
	text-decoration: none;
	font-size: 1.5rem;
}

@media (max-width: 600px) {
	nav {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
