/* bring in normalize.css styles --> Advice from Esin*/
@import-normalize;

body {
	background-image: url('./images/good-morning.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: center;
	margin: 0px;
	font-family: 'EB Garamond', 'Times New Roman', Times, serif;
}

/* I used the CSS mockup from week one as a reference on styling the background image */

/* I generated these colors by pulling colors from the background image using this website --> https://coolors.co/b7b3a1-e0607e-353531-01baef-4f7cac */
:root {
	--brown: rgb(71, 56, 49);
	--gray: rgb(225, 223, 224);
	--orange: rgb(213, 99, 45);
	--aqua: rgb(80, 207, 214);
	--teal: rgb(12, 109, 118);
	--transparent-gray: rgb(225, 223, 224, 0.7);
	--transparent-aqua: rgb(80, 207, 214, 0.7);
	--transparent-orange: rgb(213, 99, 45, 0.7);
}
